{% extends "BluemesaConstructBundle::layout.html.twig" %}

{% block headline %}Constructs{% endblock headline %}

{% block content_sidebar %}
<ul class="nav nav-list well">
  <li class="nav-header">List</li>
  <li><a href="{{ path('bluemesa_construct_index') }}">All</a></li>
  <li><a href="{{ path('bluemesa_construct_index') }}">Plasmids</a></li>
  <li><a href="{{ path('bluemesa_construct_index') }}">Genomic constructs</a></li>
  <li><a href="{{ path('bluemesa_construct_index') }}">Synthetic DNA</a></li>

  <li class="nav-header">Actions</li>
  <li><a href="{{ path('bluemesa_construct_new') }}">New construct</a></li>
  <li><a href="{{ path('bluemesa_construct_search') }}">Search</a></li>
</ul>
{% endblock content_sidebar %}
