{% extends "BluemesaConstructBundle:Construct:layout.html.twig" %}
{% use "BluemesaSiteTemplateBundle:Form:form.html.twig" %}
{% import "BluemesaSiteTemplateBundle:Macros:form.html.twig" as f %}

{% block headline %}Constructs{% endblock headline %}
{% block modal_header %}New construct{% endblock modal_header %}

{% block modal_body %}
  {{ form_errors(form) }}
  {{ form_rest(form) }}
  {% if form.method is not defined %}
  <div class="construct_method_placeholder"></div>
  {% endif %}
{% endblock modal_body %}

{% block modal_footer %}
  <button type="submit" class="btn btn-primary">Save</button>
  {% set value = form.vars.value %}
  {% if value.id is not null %}
    {% if is_granted('ROLE_ADMIN') or is_granted('DELETE',value) %}
    <a href="{{ path(name ~ '_delete', { 'id': value.id }) }}" class="btn btn-danger">Delete</a>
    {% endif %}
    <a href="{{ path(name ~ '_show', { 'id': value.id }) }}" class="btn btn-default">Cancel</a>
  {% else %}
    <a href="{{ path('bluemesa_flies_vial_list') }}" class="btn btn-default">Cancel</a>
  {% endif %}
{% endblock modal_footer %}

{% block foot_script_additional %}
<script>
  $(document).ready(function () {
    $("#construct_cloningMethod").on("change", function (e) {
      if(this.value) {
        data = $.parseJSON(this.value);
        $.post('{{ path('bluemesa_construct_construct_ajaxform') }}', data, function(data, status) {
          $('.construct_method_placeholder').replaceWith(data);
          $('.select2').not('.select2-container').not('.select2-offscreen').select2({
            width: 'resolve',
            minimumResultsForSearch: -1
          });
        });
      } else {
        $('.construct_method_placeholder').replaceWith('<div class="construct_method_placeholder"></div>');
      }
    });
  });
</script>
{% endblock %}
