<td>{{ l.link(entity, 'bluemesa_construct_show', false, entity.id) }}</td>
<td>{{ entity.name }}</td>
<td>{{ entity.type }}</td>
<td>{{ entity.size }}</td>
<td>{{ entity.resistances | join(', ') }}</td>
